#contactgraphic {

padding: 0px;
border: 0px;
margin: 0px;
width: 100px;
height: 200px;

}

#signature {




font-family: "Arial";
font-size: 16px;
color: purple;
padding: 10px;
border: 1px solid purple;
margin-top: 20px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
line-height: 25px;


float: left;


}

